################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

##ignore this file##

##使用说明##
#      #              此为注释 – 将被 Git 忽略
#      *.a            # 忽略所有 .a 结尾的文件
#      !lib.a         # 但 lib.a 除外
#       /TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
#      build/        # 忽略 build/ 目录下的所有文件
#      doc/*.txt    # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
#      **/foo       # 忽略/foo, a/foo, a/b/foo等
#      a/**/b       # 忽略a/b, a/x/b, a/x/y/b等
#      *.log         # 忽略所有 .log 文件
#     config.php # 忽略当前路径的 config.php文件

##其他的一些过滤条件##
#    * ？：代表任意的一个字符
#    * ＊：代表任意数目的字符
#    * {!ab}：必须不是此类型
#    * {ab,bb,cx}：代表ab,bb,cx中任一类型即可
#    * [abc]：代表a,b,c中任一字符即可
#    * [ ^abc]：代表必须不是a,b,c中任一字符

##C#忽略设置##
**/.vs/
**/obj/
**/.get/


